name: Discord Notification

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  discord_notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Send Discord Notification
        uses: ilshidur/action-discord@0.4.0
        with:
          entryPoint: main.js
          args: ${{ toJSON(github) }}
